// Anything buttons related

.button {
				background: none;
				border: none;
				color: $nord9;
				padding: 3px;
				margin-top: .5rem;
				font-size: 5rem; 
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				transition: .1s cubic-bezier(.16,1,.3,1);

				&:hover {
								scale: 1.2;
				}

				&:active {
								scale: 0.8;
				}
}

.imgButton {
				@include animate;
				object-fit: cover;
				width: 100%;

				&:hover {
								cursor: pointer;
								scale: 1.02;
								z-index: 4;
				}
}
