.navigation {
				position: fixed;
				z-index: 3;

				&__nav {
								position: absolute;
							  left: -10.5rem;
								top: 1rem;
							  transition: 0.3s;
								padding: 1rem 2rem;
								background: $nord8;
								border-radius: 0 5px 5px 0;
								line-height: 2.7;
								display: flex;

								&:hover {
												left: 0;
		
								}

								@include media(tabLand) {
												left: 0rem;
												background: $nord14;
								}

								@include media(tabPort) {
												left: 0rem;
												background: $nord15;
								}

								@include media(phoneLand) {
												display: none;
								}
				}

				&__list {
								list-style: none;
				}

				&__items {
								transition: .5s cubic-bezier(.16,1,.3,1);

								&:hover {
												scale: 1.1;
												
								}

								&:active {
												scale: 0.8;
	
								}
				}

				&__link {
								cursor: pointer;
								transition: .5s cubic-bezier(.16,1,.3,1);
								color: white;
								font-family: 'Open Sans', sans-serif;
								font-size: 1.5rem;
								text-transform: uppercase;
								text-decoration: none;

								&:hover {
												color: $nord11;
												
								}

								&:active {
												color: $nord13;
								}

				}
}

.navigationPhone {
				position: fixed;

				&__nav {
								position: absolute;
								grid-column: 1 / span 1;
							  left: -19rem;
								top: 9rem;
							  transition: 0.3s;
								padding: 1rem 2rem;
								background: $nord8;
								border-radius: 0 5px 5px 0;
								line-height: 2.7;
								z-index: 100;
				}

				&__list {
								list-style: none;
				}
				&__items {
								transition: .5s cubic-bezier(.16,1,.3,1);

								&:hover {
												scale: 1.1;
								}

								&:active {
												scale: 0.8;
								}
				}
				&__link {
								cursor: pointer;
								transition: .5s cubic-bezier(.16,1,.3,1);
								color: white;
								font-family: 'Open Sans', sans-serif;
								font-size: 1.5rem;
								text-transform: uppercase;
								text-decoration: none;

								&:hover {
												color: $nord11;
												
								}

								&:active {
												color: $nord13;
								}

				}

				&__checkbox {
								display: none;
								width: 0;
				}

				&__button {
								position: absolute;
								margin: 3rem;
								font-size: 4rem;

								@media(min-width: 48em ) {
												display: none;
								}
				}

				&__checkbox:checked ~ &__nav {
								left: 0rem;
				}

				@include media(tabLand) {
								display: none;
				}

				@include media(tabPort) {
								display: none;
				}

				@include media(phoneLand) {
								display: block;
				}
}
.secNav {
				position: fixed;
				z-index: 3;

				&__nav {
								position: absolute;
							  left: -6.4rem;
								top: 26rem;
							  transition: 0.3s;
								padding: 1rem 3rem;
								background: $nord11;
								border-radius: 0 5px 5px 0;
								line-height: 2.7;

								&:hover {
												left: 0;
								}

				}

				&__list {
								list-style-type: none;

								&:hover {
												color: $nord13;
								}

								&:active {
												color: $nord15;
								}
																				
				}

				&__items {
								transition: .5s cubic-bezier(.16,1,.3,1);

								&:hover {
												scale: 1.2;
												
								}

								&:active {
												scale: 0.8;
								}


				}

				&__link {
								cursor: pointer;
								font-family: 'Open Sans', sans-serif;
								font-size: 1.5rem;
								color: white;
								text-transform: uppercase;
								text-decoration: none;
								}

								@include media(tabLand) {
												display: none;
								}
}
